<a href="https://colab.research.google.com/github/ysy56/baekjoon/blob/main/baekjoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 준비운동 PART1. 튼튼한 기본기

In [ ]:
# 2051번 약수 구하기

n, k = input().split() 

n = int(n) 
k = int(k) 

ls = [] 
for i in range(1, n+1): 
  if n%i == 0: 
    ls.append(i) 
f = len(ls) 
if k > f: 
  print(0) 
else: 
  print(ls[k-1])

In [ ]:
# 3460번 이진수

T = int(input())
for i in range(T):
  n = int(input())

  s = bin(n)
  num = len(s)

  for i in range(1, num-1):
    if s[-i] == '1':
      print(i-1, end=' ')
  print()

2
13
0 2 3
4
2

In [ ]:
# 10818번 최소, 최대

n = int(input())
num_list = list(map(int, input().split()))
num_list.sort(reverse=False)
print(num_list[0], num_list[n-1])

3
4 9 2
2 9

In [ ]:
# 2460번 지능형 기차 2

p = 0
p_list = []

for i in range(10):
  out, put = input().split()
  out = int(out)
  put = int(put)
  p = p - out + put
  p_list.append(p)

p_list.sort(reverse = True)
print(p_list[0])

0 32
3 13
28 25
17 5
21 20
11 0
12 12
4 2
0 8
21 0
42

In [ ]:
# 10870번 피보나치 수 5

n = int(input())

num_list = [0, 1]
for i in range(2, n+1):
  num_list.append(num_list[i-1]+num_list[i-2])

print(num_list[n])

10
55

In [ ]:
# 23092309번 일곱 난쟁이

num_list = []

for i in range(7):
  cm = int(input())
  num_list.append(cm)

print(sorted(num_list))

20
56
42
12
16
43
29
[12, 16, 20, 29, 42, 43, 56]